*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
}
html{
    font-size: 62.5%;
}

/* 7.594rem   */
/* 5.063rem  */
/* 3.375rem */
/* 2.25rem */
/* 1.5rem */
/* 1.rem */
/* #164bc5  blue*/
/* #0f9640  green*/
/* #7b7b7b grey */
/* #ed1b24 red */
/* rgb(22, 119, 190) button blue */

/* universal */
li{
    list-style: none;
}
.lesson a{
    display: block;
}
a{
    color: #164bc5;
    
}
span{
    display: inline-block;
}
#rc{
    color: #ed1b24;
}
/* fonts */
h1{
    font-size: 5.063rem;
}
h2{
    font-size: 3.375rem;
}
h3{
    font-size: 2.25rem;
}
h4{
    font-size: 1.5rem;
}
p{
    font-size: 1.5rem;
    color: #7b7b7b;
}
a{
    font-size: 1.5rem;
}
span{
    font-size: 1.2rem;
}
/* padding classes */
.paddingBox{
    padding: 1.5rem;
}
.paddingL{
    padding-left: 1.5rem;
}
.paddingR{
    padding-right: 1.5rem;
}
.paddingT{
    padding-top: 1.5rem;
}
.paddingB{
    padding-bottom: 1.5rem;
}
.paddingL2{
    padding-left: 3.375rem;
}
.paddingR2{
    padding-right: 3.375rem;
}
.paddingT2{
    padding-top: 3.375rem;
}
.paddingB2{
    padding-bottom: 3.375rem;
}
.maring-top{
    margin-top: 1.5rem;
}
/* layout */
.land{
    display: flex;
    margin-top: 3.375rem;
}
select, .codeBtn{
    width: 48%;
    height: 3.375rem;
}
.codeBtn{
    border-radius: .5rem;
    background: #0f9640;
    color: white;
}

.menu{
    width: 30%;
}
.lesson{
    width: 70%;
}
.btn{
    background: rgb(22, 119, 190);
    color: white;
    
}
.classLinks{
    display: flex;
    flex-direction: column;
}
.classLinks a{
    display: inline-block;
    width: 15.2rem;
    text-align: center;
    text-decoration: none;
    margin-top: 1.5rem;
    border-radius: .5rem;
}

.hidden{
    display: none;
}